doctype html 
html
  head
    title Dear's Dance Acadmy
    block scripts
    block style
  body
    nav#navbar 
      div#logo
        img(src="/static/img/logo.png")
        |DDA
      ul
         li #[a(href="/") Home]
         li #[a(href="/") About]
         li #[a(href="/contact") Contact]
         li #[a(href="/") Services]
         li #[a(href="/") Join us]
    block content
    block foot
     footer#foot 
      |CopyRight Ⓒ 2023:DearsDanceAcadmy|All Right Reserved     